<h2 class="home__heading">
  Bienvenido a <em><app-title></app-title></em>
</h2>

<div class="home__info">
  <h3>
    ¿Qué es <em><app-title></app-title></em>?
  </h3>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor aperiam aut
    odio culpa, ratione error corporis distinctio consectetur animi! Odit
    perspiciatis pariatur cumque fuga culpa vero natus dolorum, optio
    accusantium?
  </p>
  <h3>
    ¿Para qué puedo usar <em><app-title></app-title></em>?
  </h3>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor minus sed
    quaerat, corporis nisi ab. Cum aut minima reprehenderit officiis molestias,
    illum pariatur hic beatae, voluptas corrupti ipsa impedit modi.
  </p>
  <h3>
    ¿Quiénes hacemos en <em><app-title></app-title></em>?
  </h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
    voluptatem possimus itaque odit. Deleniti a quibusdam laborum delectus,
    similique id ducimus provident eveniet. Tenetur porro dolorem fugit deleniti
    dolor repellendus?
  </p>
  <h3>
    ¿Es seguro usar <em><app-title></app-title></em>?
  </h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quae velit
    corporis natus excepturi odio illo aliquam eius blanditiis molestiae iste
    sit saepe, aut ut expedita soluta eos eligendi amet!
  </p>
</div>
