<div class="nav">
  <a
    class="nav__link"
    [routerLink]="['/home']"
    routerLinkActive="nav__link--active"
    ><i class="fas fa-radiation"></i><span>Home</span></a
  >
  <a
    class="nav__link"
    [routerLink]="['/products']"
    routerLinkActive="nav__link--active"
    ><i class="fas fa-binoculars"></i><span>Prods.</span></a
  >
  <a
    class="nav__link"
    [routerLink]="['/management']"
    routerLinkActive="nav__link--active"
    ><i class="fas fa-dharmachakra"></i><span>Gestión</span></a
  >
</div>
