<div class="footer__socialWrap">
  <h6>Síguenos en:</h6>
  <div class="footer__social">
    <a class="footer__socialLink" target="_blank" href="https://twitter.com/"
      >Twitter</a
    >
    <span>|</span>
    <a
      class="footer__socialLink"
      target="_blank"
      href="https://www.facebook.com/"
      >Facebook</a
    >
    <span>|</span>
    <a
      class="footer__socialLink"
      target="_blank"
      href="https://www.instagram.com/"
      >Instagram</a
    >
    <span>|</span>
    <a class="footer__socialLink" target="_blank" href="https://www.tiktok.com/"
      >TikTok</a
    >
  </div>
</div>

<div class="footer__copyright">
  Copyright <app-title></app-title> © {{ year }}
</div>
